{% extends "base.html" %}

{% block body %}

<div class="container white-text">
  <div class="row">
    <div class="col s12 m10 l8 push-l2">
      <div class="card-panel">
        <div class="progress">
          <div class="determinate" style="width: 0%"></div>
        </div>
      </div>

      <div class="col s12">
        <span class="flow-text">I am always full-width (col s12)</span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>
      <div class="col s1">
        <span class="flow-text"> * </span>
      </div>

    </div>
  </div>
</div>

{% endblock %}
